@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 28 49 68;
    --color-primary-variant: 191 215 234;
    --color-secondary: 255 186 8;
    --color-secondary-variant: 255 113 91;
  }
}

.bg-radial-gradient-primary-to-variant {
  background: radial-gradient(
    at center,
    rgba(var(--color-primary-variant)),
    rgba(var(--color-primary))
  );
}

.bg-radial-gradient-variant-to-primary {
  background: radial-gradient(
    at center,
    rgba(var(--color-primary)),
    rgba(var(--color-primary-variant))
  );
}

.border-gradient-secondary-to-variant {
  border-image: linear-gradient(
      to right,
      rgba(var(--color-secondary)),
      rgba(var(--color-secondary-variant))
    )
    1;
}

.computer-screen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #000000;
}

.phone-screen iframe {
  width: 500px;
  height: 1070px;
  border: none;
  border-radius: 74px;
  background: #000000;
}
